
body{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

main{
    padding: 16px;
}

footer{
    padding: 24px 16px;
    height: 20px;
    background-color: bisque;
    border: 1px solid rgb(126, 120, 95, 0.2);
}

img{
    height: 200px;
}

nav{
    border-bottom: 1px solid rgb(126, 120, 95, 0.2);
    padding: 16px;
    background-color: rgb(221, 169, 107);
}

nav>a{
    color:aliceblue;
}

a{
    color:rgb(4, 91, 62)
}
a:hover {
    color: rgb(71, 223, 216);
    text-decoration: underline;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

#recipe-list{
    display: grid;
    grid-template-columns: repeat(4,auto);
    column-gap: 16px;
    grid-template-rows: repeat(4,auto) ;
    margin-bottom: 16px;
}

h1{
    color: rgb(95, 80, 18);
}

.h2-color{
    color: rgb(151, 140, 21);
}

.add-background-color tr:nth-child(2n+3){
    background-color: rgba(255, 228, 196, 0.484);
}
